body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    display: center;
    margin: auto;
    padding: 20px;
    text-align: center;
}

Header, Nav, Section, Aside, Footer {
    background: #ebebeb;
}

h1, p {
    color: #777;
    background-color: #ebebeb;
    height: 30px;
}

header {
    height: 60px
}

nav {
    height: 60px;
}

section {
    height: 200px;
    width: 50%;
    float: left;
    padding: 10px;
    margin: 20px;
}

Article {
    position: relative;
    background: #777;
    color: #ebebeb;
    height: 60%;
}

aside {
    height: 200px;
    width: 40%;
    float: right;
}



footer {
    width: 100%;
    height: 60px;
    clear: right;
    clear: left;
}
